/* 
    Document   : mycss
    Created on : Oct 15, 2013, 4:08:36 PM
    Author     : alarv
    Description:
        Purpose of the stylesheet follows.
*/

body, html { /* set size of body to full page and remove margins */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

