
input, textarea
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 7px;
	outline: 0;
	border: 0;
	width: 250px;
	margin-bottom: 10px;
	outline: none;
	transition:background 0.5s ease;
}

input:focus, textarea:focus, input:hover, textarea:hover{
	color:white;
	outline: none;
	background: #00BFCF;
	outline: 0;
}

p
{
	margin:5px 0;
	line-height:25px;
}

a
{
	text-decoration:none;
	color:inherit;
	transition: color .5s ease;
}

strong
{
	font-weight:bold;
}

figcaption strong
{
	border-bottom: 1px solid #D6D0C1;
	padding-bottom:10px;
	margin: 10px 0;
	display:block;
}

figcaption
{
	line-height: 25px;
	font-size:14px;
	width:200px;
}

hr
{
	background-color: #D6D0C1;
	border:0;
	height:1px;
	margin:20px 0;
}

@font-face {
    font-family: cool_font;
    src: url('../fonts/font.ttf'),
    url('../fonts/font.eot'); /* IE9 */
   url('../fonts/font.otf');
}

/* BUTTONS */

.button, input[type=submit]
{
	padding: 10px 30px;
	background-color: #000000;
	color: #FFFFFF;
	font-size:16px;
	text-decoration: none;
	box-shadow: 2px 2px 5px 0px #333;
	transition: all 0.5s ease;
	margin: 30px 0 0 0;
	position: relative;
	float: right;
}

.button:hover, input[type=submit]:hover
{
	background: #00BFCF;
	color: #333;
}

h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	margin-bottom: 20px;
	text-align: center;
}


section.wrapper {
	height: 100%;
	width: 100%;
}

/* HEADER */

header
{

}

header .logo
{
	color: white;
	position: fixed;
	background: #333;
	width: 90px;
	height: 60px;
	left: 20%;
	padding: 20px;
	text-align: center;
}

/* FOOTER */

footer
{
	background: #333;
	position: fixed;
	height:35px;
	width:100%;
	bottom:0;
}

footer section
{
	margin: 0 auto;
	width: auto;
	color: white;
	text-align:center;
	max-width: 960px;
	font-size: 13px;
}


/* MISC */
.clear
{
	clear:both;
}
.hidden
{
	position:absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  	clip: rect(1px, 1px, 1px, 1px);
  	display:none;
}
.close{
	margin: 20px 50px 0 0;
	color: white;
	opacity: 0.8;
	font-size:50px;
	float: right;
	cursor: pointer;
	z-index:9999;
}

.close:hover{
	opacity:1;
}

